* {
  margin    : 0;
  padding   : 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family     : "Open Sans", sans-serif;
  background-color: #F0F3F5;
}

p {
  font-size: 1.6rem;
}